<h1> <%= @band.name %> </h1>

  <h2>Albums!</h2>
  <%= add_new_album_to_band %>
  <% @band.albums.each do |album| %>
    <ul>
      <li><a href=" <%= album_url(album) %> "><%= album.name %></a></li>
    </ul>
  <% end %>

  <%= edit_band %>

  <%= delete_band %>
