<h1> <%= @track.title %> </h1>

<h2>This track is on the album: <a href=" <%= album_url(@track.album) %> "> <%= @track.album.name %> </a></h2>
  <h2>Notes about this track:</h2>
  <ul>
    <% @track.notes.each do |note| %>
      <li> <a href="<%= note_url(note)%> ">Note</a> by: <%= note.user %> </li>
    <% end %>
  </ul>
<%= edit_track %>
<%= delete_track %>
