<h1>Add an album to <%= @band.name %>'s discography</h1>
<%= flash_errors %>

<form action="<%= albums_url %>" method="post">
  <%= form_auth_token %>
  <%= render "album_form" %>
  <button>Create Album</button>
</form>
