<h1>Add an album to <%= @album.band.name %>'s discography</h1>
<%= flash_errors %>

<form action="<%= albums_url %>" method="post">
  <%= form_auth_token %>
  <%= render partial: "partials/album_form", locals: { album: @album } %>
  <button>Create Album</button>
</form>
