<%= form_auth_token %>
<label for="album_band">Band:</label>
<select id="album_band" name="album[band_id]">
  <option value=""> </option>
  <% Band.all.each do |band| %>
    <option value="<%= band.id %>"
      <%= "selected" if band == @album.band %>>
      <%= band.name %>
    </option>
  <% end %>
</select>
<br>
<label for="album_name">Album Name:</label>
<input id="album_name"
       type="textarea"
       name="album[name]"
       value="<%= @album.name %>">

<br>
<label for="album_style">Styles:</label>
<br>
<label for="album_style_live">Live:</label>
<input id="album_style_live"
       type="radio"
       name="album[style]"
       value="live"
   <%= "checked" if @album.style == "live" %>>
<br>
<label for="album_style_studio">Studio:</label>
<input id="album_style_studio"
       type="radio"
       name="album[style]"
       value="studio"
   <%= "checked" if @album.style == "studio" %>>
<br>
