<%= form_auth_token %>

<label for="track_album">Album:</label>
<select id="track_album" name="track[album_id]">
  <option value=""></option>
  <% Album.all.each do |album| %>
    <option value="<%= album.id %>"
      <%= "selected" if album = track.album %>>
      <%= album.name %>
    </option>
  <% end %>
</select>

<br>

<label for="track_title">Title:</label>
<input type="textarea"
       name="track[title]"
       value="<%= track.title %>">

<br>

<label for="track_lyrics">Lyrics:</label>
<textarea id="track_lyrics"
          name="track[lyrics]"
          rows="8"
          cols="40"><%= track.lyrics %>
</textarea>

<label for="track_style">Styles:</label>
<label for="track_style_bonus">Bonus:</label>
<input id="track_style"
       type="radio"
       name="track[style]"
       value="bonus"
   <%= "checked" if track.style == "bonus" %>>
<label for="track_style_regular">Regular:</label>
<input id="track_style_regular"
       type="radio"
       name="track[style]"
       value="regular"
   <%= "checked" if track.style == "regular" %>>
