<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="<%= bands_url %>">All Bands</a>
<br>

<% if signed_in? %>
  <%= sign_out_button %>
<% end %>
<%= yield %>

</body>
</html>
